# Gradle
.gradle/
build/
# Arquivos de log
*.log

# Arquivos temporários do sistema
*.tmp
*.swp
*.swo
*~

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Arquivos de compilação Java
*.class

# Arquivos de pacotes
*.jar
*.war
*.ear

# MacOS
.DS_Store

# Windows
Thumbs.db


### mockups ###
src/mock.json

#####
libs/
lib/